.imagen-contenedor{
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    width: 100%;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    background-position: center center;
    background-image: url("../../src/img/mesa.png");
    position: absolute;
    background-size: cover; /* Ajusta según tus necesidades */

    .img-small{
        position: relative;
        top: 8rem;
        left: 8rem;
        z-index: 1;
        max-width: 35rem;
        height: 6rem;
        @include tablet{
            min-width: 20rem;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); /* Ajusta el valor alpha para controlar la opacidad */
    }

}

.contenedor-cita{
    display: flex;
    position: relative;
    width: 20rem;
    z-index: 1;
    color: $blanco;
    font-family: $fuente_principal;

    .cita{
        font-size: 1.8rem;
        font-weight: $bold;
        width: 25rem;
        padding-top: 8rem;

        @include desktop{
        position: absolute;
        font-size: 1.8rem;
        font-weight: $bold;
        top: 5rem;
        left: 15rem;
        width: 25rem;
        }
    }
}

