@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes

$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 765px;
$tablet: 1023px;
$desktop: 1224px;

// Colores
$amarillo: #fed313;
$negro: #0D0D0D;
$blanco: white;
$rojo: rgb(190, 10, 10);
$gris: rgb(206, 204, 204);
$verde: rgb(19, 163, 19);

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900