.idk{
    position: absolute;
width: 1001.5px;
height: 788px;
left: 3.5px;
top: 111px;
}



.pk{
    position: absolute;
width: 1001.5px;
height: 788px;
left: 3.5px;
top: 111px;

background: #F5C519;
mix-blend-mode: normal;
border: 1px solid #000000;


}