.contenedor-prensa{
    margin-top: 2rem;
    z-index: 1;
    width: 100%;
    margin-bottom: 2rem;

    h2{
        font-family: $fuente_principal;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.opinion-contenedor{
    margin-top: 5px;
    width: 100%;
    @include grid(1, 3rem);
    justify-items: center;
    @include tablet {
        @include grid(3, 3rem);
    }
    
    .opinion{
        @include grid (1, 2rem);
        justify-items: center;
        margin-top: 1rem;
        width: 100%;
    }
    .imagen-opinion{
        width: 20rem;
    }
    .texto-opinion{ 
        font-family: $fuente_principal; 
        width: 20rem;
        height: 10rem;
        margin: 0;
        text-align: center;
    }
}